<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login Bcrypt</h1>
    <form action="/bcrypt" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password"></label>
        <input type="password" id="password" name="password">
        <button type="submit">Login</button>
    </form>
</body>

</html>